{% extends "base.html" %}
{% block title %}The Malwa's{% endblock %}
{% block content %}
    <div id="header">
        <span class="user" style="float: right;">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username }},
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <a href='{% url "orders_list" %}'>Orders</a>
                {% endif %}
                <a href='{% url "logout" %}'>Logout</a>
            {% else %}

            {% endif %}
        </span>

    </div>
<div class="mx-auto">
  <h1 style="margin-top: 20vh; text-align: center; font-size: 7vh; font-family: cursive; color: #064235 ">Coming Soon with lots of treats!!!</h1>
</div>
{% endblock %}

